{% load static %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>House Price in Tehran</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>پیش‌ بینی قیمت خانه در تهران </h1>
        <form method="POST">
            {% csrf_token %}
            
            <label>حدود قیمت هر متر مربع ( تومان)</label>
            <input type="number" name="Priceـperـsquareـmeter" step="1000" placeholder=" مثلا :68,500,0000 " required>

            <label> نام خیابان :</label>
            <input list="addresses" name="address" placeholder=" نام خیابان" required>
            <datalist id="addresses">
                {% for a in address_choices %}
                    <option value="{{ a }}"></option>
                {% endfor %}
            </datalist>

            <label>متراژ  (برحسب متر مربع ) :</label>
            <input type="number" name="area" step="0.01" placeholder="متراژ  " required>

            <label>تعداد اتاق  : </label>
            <input type="number" name="rooms" placeholder="تعداد اتاق ها " required>
            
            <label>پارکینگ :</label>
            <select name="parking" required>
                <option value="1">دارد</option>
                <option value="0">ندارد</option>
            </select>

            <label>انبار :</label>
            <select name="warehouse" required>
                <option value="1">دارد</option>
                <option value="0">ندارد</option>
            </select>

            <label>آسانسور :</label>
            <select name="elevator" required>
                <option value="1">دارد</option>
                <option value="0">ندارد</option>
            </select>

            <button type="submit">پیش‌بینی کن</button>
        </form>

        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}

        {% if prediction %}
            <div class="result">قیمت پیش بینی شده : {{ prediction }} تومان </div>
        {% endif %}
        {% if negative_input_warning %}
        <div class="error">{{ negative_input_warning }}</div>
        {% endif %}
        



    </div>
    

</body>
</html>